<div class="share__card mb-3">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 mt-2">نص عنوان</h4>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                <div class="d-flex align-items-center justify-content-center w-100">
                    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/q7kqjuJlaME"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="share__card mb-3">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 mt-2">نص عنوان</h4>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                <div class="d-flex align-items-center justify-content-center w-100">
                    <img class="w-100" src="../../../assets/img/img_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="share__card mb-3">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 mt-2">نص عنوان</h4>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                <div class="d-flex align-items-center justify-content-center w-100">
                    <audio id="player" class="w-100" controls>
                        <source src="/path/to/audio.mp3" type="audio/mp3" />
                        <source src="/path/to/audio.ogg" type="audio/ogg" />
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="share__card mb-3">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 mt-2">نص عنوان</h4>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                <div class="d-flex align-items-center justify-content-center w-100">
                    <audio id="player" class="w-100" controls>
                        <source src="/path/to/audio.mp3" type="audio/mp3" />
                        <source src="/path/to/audio.ogg" type="audio/ogg" />
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>