/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/import";
@import "./assets/css/audio.css";
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
p {
  font-weight: 500;
}

img {
  border-radius: 3px;
}

html,
body {
  height: 100%;
}

.plyr--audio {
  width: 100%;
}
